@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-ExtraLight.eot');
    src: url('/fonts/PlusJakartaSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraLight.woff') format('woff'),
        url('/fonts/PlusJakartaSans-ExtraLight.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-ExtraLight.svg#PlusJakartaSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-ExtraBoldItalic.eot');
    src: url('/fonts/PlusJakartaSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-ExtraBoldItalic.svg#PlusJakartaSans-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-ExtraLightItalic.eot');
    src: url('/fonts/PlusJakartaSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraLightItalic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-ExtraLightItalic.svg#PlusJakartaSans-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-Light.eot');
    src: url('/fonts/PlusJakartaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Light.woff') format('woff'),
        url('/fonts/PlusJakartaSans-Light.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-Light.svg#PlusJakartaSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-Regular.eot');
    src: url('/fonts/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Regular.woff') format('woff'),
        url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-Regular.svg#PlusJakartaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-Italic.eot');
    src: url('/fonts/PlusJakartaSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-Italic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Italic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-Italic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-Italic.svg#PlusJakartaSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-LightItalic.eot');
    src: url('/fonts/PlusJakartaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-LightItalic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-LightItalic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-LightItalic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-LightItalic.svg#PlusJakartaSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-MediumItalic.eot');
    src: url('/fonts/PlusJakartaSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-MediumItalic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-MediumItalic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-MediumItalic.svg#PlusJakartaSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-SemiBold.eot');
    src: url('/fonts/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
        url('/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-SemiBold.svg#PlusJakartaSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-Medium.eot');
    src: url('/fonts/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Medium.woff') format('woff'),
        url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-Medium.svg#PlusJakartaSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-Bold.eot');
    src: url('/fonts/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Bold.woff') format('woff'),
        url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-Bold.svg#PlusJakartaSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-BoldItalic.eot');
    src: url('/fonts/PlusJakartaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-BoldItalic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-BoldItalic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-BoldItalic.svg#PlusJakartaSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-ExtraBold.eot');
    src: url('/fonts/PlusJakartaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraBold.woff') format('woff'),
        url('/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-ExtraBold.svg#PlusJakartaSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-SemiBoldItalic.eot');
    src: url('/fonts/PlusJakartaSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PlusJakartaSans-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-SemiBoldItalic.woff') format('woff'),
        url('/fonts/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype'),
        url('/fonts/PlusJakartaSans-SemiBoldItalic.svg#PlusJakartaSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

:root{

    /* Colors */
    --heading-color: #25409C;
    --text-color: #484848;
    --text-color-2: #344054;
    --text-color-3: #475467;
    --text-color-4: #101828;
    --text-color-5: #A7A7A7;
    --text-color-6: #7C7B7B;
    --text-color-7: #667085;
    --text-color-8: #D6DBEC;
    --text-color-9: #52525B;
    --text-color-10: #1D2939;
    --text-color-11: #6C6B6B;
    --text-color-12: #A1A7B0;
    --text-color-13: #8DA0E23B;
    --text-color-14: #000F2D;
    --text-color-15: #F2F4F7;
    --text-color-16: #FFFFFFCC;

    --black: #000000;
    --white: #FFFFFF;
    --transparent: #00000000;
    --black-opacity-10: #0000001A;

    /* Border */
    --border-color-1: #D0D5DD;

}


*{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    width: 100%;
}

a{
    display: inline-block;
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus{
    outline: none;
    box-shadow: none;
}

.container{
    max-width: 1170px !important;
    margin: 0 auto;
}

/* Login CSS Strats */
.login-section-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login-section-wrapper .login-left-img,
.login-section-wrapper .login-form{
    width: 50%;
}

.login-section-wrapper .login-form{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-section-wrapper .login-form .logo,
.login-section-wrapper .login-form .login-header,
.login-section-wrapper .login-form .form,
.login-section-wrapper .login-form .login-footer{
    width: 100%;
}

.login-section-wrapper .login-form .logo,
.login-section-wrapper .login-form .login-header{
    text-align: center;
    margin-bottom: 30px;
}

.login-section-wrapper .login-form .logo img{
    width: 30%;
}

.login-section-wrapper .login-form .login-header h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.2em;
}

.login-section-wrapper .login-form .login-header p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4em;
}

.login-section-wrapper .login-form .form{
    max-width: 60%;
    margin: 0 auto;
}

.login-section-wrapper .login-form .form .form-control{
    padding: 0;
    border: none;
}

.login-section-wrapper .login-form .form .form-control label {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.2em;
    width: 100%;
}

.login-section-wrapper .login-form .form .form-control input{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px 15px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.login-section-wrapper .login-form .form .form-control input:focus{
    outline: none;
    box-shadow: none;
}

.login-section-wrapper .login-form .form .form-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-section-wrapper .login-form .form .form-group .form-control{
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.login-section-wrapper .login-form .form .form-group .form-control input{
    width: auto;
    margin-bottom: 0;
    margin-right: 10px;
}

.login-section-wrapper .login-form .form .form-group a{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.2em;
    text-decoration: none;
}

.login-section-wrapper .login-form .form .form-group .form-control label{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color-2);
    line-height: 1.2em;
}

.login-section-wrapper .login-form .form .form-group .btn-submit{
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    background: var(--heading-color);
    color: var(--white);
    transition: all .3s;
    font-size: 16px;
    font-weight: 600;
}

.login-section-wrapper .login-form .form .form-group .btn-submit:hover{
    background: var(--text-color-4);
}

.login-section-wrapper .login-form .form ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 20px;
}

.login-section-wrapper .login-form .form ul li{
    list-style-type: none;
    margin: 0 10px;
}

.login-section-wrapper .login-form .form ul li a{
    padding: 10px 40px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    transition: all .3s;
}

.login-section-wrapper .login-form .form ul li a:hover{
    background: var(--black);
    border-color: var(--black);
}

.login-section-wrapper .login-form .form p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
}

.login-section-wrapper .login-form .form p a{
    color: var(--heading-color);
    font-size: 14px !important;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s;
}

.login-section-wrapper .login-form .form p a:hover{
    color: var(--black);
}

.login-section-wrapper .login-form .login-footer p{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
}
/* Login CSS Ends */

/* Signup CSS Starts */

.signup-section-wrapper{
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.signup-section-wrapper:after{
    content: '';
    position: absolute;
    bottom: 100px;
    left: 0;
    background: url('../images/Intersect-3.png') no-repeat bottom left;
    background-size: 5% auto;
    width: 100%;
    height: 100%;
}

.signup-section-wrapper .signup-form,
.signup-section-wrapper .signup-right-img{
    width: 50%;
    z-index: 10;
}

.signup-section-wrapper .signup-form{
    position: relative;
}

.signup-section-wrapper .signup-form:after{
    content: '';
    position: absolute;
    top: -80px;
    right: 0;
    background: url('../images/Intersect-2.png') no-repeat top right;
    background-size: 100% auto;
    width: 129px;
    height: 141px;
    z-index: -10;
}

.signup-section-wrapper .signup-form:before{
    content: '';
    position: absolute;
    bottom: -80px;
    right: 0;
    background: url('../images/Intersect.png') no-repeat bottom right;
    background-size: 100% auto;
    width: 100px;
    height: 91px;
    z-index: -10;
}

.signup-section-wrapper .signup-right-img{
    padding: 20px;
}

.signup-section-wrapper .signup-form .login-header h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color-4);
    line-height: 1.2em;
    margin-bottom: 40px;
}

.signup-section-wrapper .signup-form .login-header,
.signup-section-wrapper .signup-form .form{
    max-width: 60%;
    margin: 0 auto;
}

.signup-section-wrapper .signup-form .form .form-control{
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

.signup-section-wrapper .signup-form .form .form-control span,
.signup-section-wrapper .signup-form .form .form-control label {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.2em;
    width: 100%;
}

.signup-section-wrapper .signup-form .form .form-control input{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px 15px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
}

.signup-section-wrapper .signup-form .form .form-control input:focus{
    outline: none;
    box-shadow: none;
}

.signup-section-wrapper .signup-form .form .form-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signup-section-wrapper .signup-form .form .form-group .form-control{
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.signup-section-wrapper .signup-form .form .form-group .btn-submit{
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    background: var(--heading-color);
    color: var(--white);
    transition: all .3s;
    font-size: 16px;
    font-weight: 600;
}

.signup-section-wrapper .signup-form .form .form-group .btn-submit:hover{
    background: var(--text-color-4);
}

.signup-section-wrapper .signup-form .form .btn-google{
    width: 100%;
    padding: 10px 18px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    background: var(--transparent);
    color: var(--text-color-2);
    transition: all .3s;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.signup-section-wrapper .signup-form .form .btn-google img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.signup-section-wrapper .signup-form .form .btn-google:hover{
    background: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.signup-section-wrapper .signup-form .login-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.signup-section-wrapper .signup-form .form p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.signup-section-wrapper .signup-form .form p a{
    color: var(--heading-color);
    font-size: 14px !important;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s;
}

.signup-section-wrapper .signup-form .login-footer p,
.signup-section-wrapper .signup-form .login-footer a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}

.signup-section-wrapper .signup-form .login-footer a i{
    margin-right: 5px;
}

.signup-section-wrapper .signup-form .login-footer a{
    transition: all .3s;
}

.signup-section-wrapper .signup-form .login-footer a:hover{
    color: var(--heading-color);
}
/* Signup CSS Ends */

/* Sign Up Step CSS Starts */

.signup-step-section-wrapper{
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.signup-step-section-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/Intersect-6.png') no-repeat top left;
    background-size: 5% auto;
    width: 100%;
    height: 100%;
}

.signup-step-section-wrapper .signup-form,
.signup-step-section-wrapper .signup-right-img{
    width: 50%;
    z-index: 10;
}

.signup-step-section-wrapper .signup-form{
    position: relative;
}

.signup-step-section-wrapper .signup-form:after{
    content: '';
    position: absolute;
    top: -84%;
    right: 0;
    background: url('../images/Intersect-4.png') no-repeat top right;
    background-size: 100% auto;
    width: 139px;
    height: 108px;
    z-index: -10;
}

.signup-step-section-wrapper .signup-form:before{
    content: '';
    position: absolute;
    bottom: -90%;
    right: 0;
    background: url('../images/Intersect-5.png') no-repeat bottom right;
    background-size: 100% auto;
    width: 134px;
    height: 124px;
    z-index: -10;
}

.signup-step-section-wrapper .signup-right-img{
    padding: 20px;
}

.signup-step-section-wrapper .signup-form .login-header h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color-4);
    line-height: 1.2em;
    margin-bottom: 40px;
}

.signup-step-section-wrapper .signup-form .login-header,
.signup-step-section-wrapper .signup-form .form{
    max-width: 60%;
    margin: 0 auto;
}

.signup-step-section-wrapper .signup-form .form .form-control{
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

.signup-step-section-wrapper .signup-form .form .form-control span,
.signup-step-section-wrapper .signup-form .form .form-control label {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.2em;
    width: 100%;
}

.signup-step-section-wrapper .signup-form .form .form-control input,
.signup-step-section-wrapper .signup-form .form .form-control select {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px 15px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
}

.signup-step-section-wrapper .signup-form .form .form-control input:focus,
.signup-step-section-wrapper .signup-form .form .form-control select:focus{
    outline: none;
    box-shadow: none;
}

.signup-step-section-wrapper .signup-form .form .form-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signup-step-section-wrapper .signup-form .form .form-group .form-control{
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.signup-step-section-wrapper .signup-form .form .form-group .btn-submit{
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    background: var(--heading-color);
    color: var(--white);
    transition: all .3s;
    font-size: 16px;
    font-weight: 600;
}

.signup-step-section-wrapper .signup-form .form .form-group .btn-submit:hover{
    background: var(--text-color-4);
}

.signup-step-section-wrapper .signup-form .form .btn-google{
    width: 100%;
    padding: 10px 18px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    background: var(--transparent);
    color: var(--text-color-2);
    transition: all .3s;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.signup-step-section-wrapper .signup-form .form .btn-google img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.signup-step-section-wrapper .signup-form .form .btn-google:hover{
    background: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.signup-step-section-wrapper .signup-form .login-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -75%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.signup-step-section-wrapper .signup-form .form p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.signup-step-section-wrapper .signup-form .form p a{
    color: var(--heading-color);
    font-size: 14px !important;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s;
}

.signup-step-section-wrapper .signup-form .login-footer p,
.signup-step-section-wrapper .signup-form .login-footer a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}

.signup-step-section-wrapper .signup-form .login-footer a i{
    margin-right: 5px;
}

.signup-step-section-wrapper .signup-form .login-footer a{
    transition: all .3s;
}

.signup-step-section-wrapper .signup-form .login-footer a:hover{
    color: var(--heading-color);
}

/* Sign Up Step CSS Ends */

/* Sign Up Step 2 CSS Starts */

.signup-step-two-section-wrapper{
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.signup-step-two-section-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/Intersect-6.png') no-repeat top left;
    background-size: 5% auto;
    width: 100%;
    height: 100%;
}

.signup-step-two-section-wrapper .signup-form,
.signup-step-two-section-wrapper .signup-right-img{
    width: 50%;
    z-index: 10;
}

.signup-step-two-section-wrapper .signup-form{
    position: relative;
    height: 50vh;
}

.signup-step-two-section-wrapper .signup-form:after{
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    background: url('../images/Intersect-4.png') no-repeat top right;
    background-size: 100% auto;
    width: 139px;
    height: 108px;
    z-index: -10;
}

.signup-step-two-section-wrapper .signup-form:before{
    content: '';
    position: absolute;
    bottom: -95%;
    right: 0;
    background: url('../images/Intersect-5.png') no-repeat bottom right;
    background-size: 100% auto;
    width: 134px;
    height: 124px;
    z-index: -10;
}

.signup-step-two-section-wrapper .signup-right-img{
    padding: 20px;
}

.signup-step-two-section-wrapper .signup-form .login-header h1{
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color-4);
    line-height: 1.2em;
    margin-bottom: 40px;
    text-align: center;
}

.signup-step-two-section-wrapper .signup-form .login-header,
.signup-step-two-section-wrapper .signup-form .form{
    max-width: 60%;
    margin: 0 auto;
}

.signup-step-two-section-wrapper .signup-form .login-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -75%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.signup-step-two-section-wrapper .signup-form .login-footer p,
.signup-step-two-section-wrapper .signup-form .login-footer a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}

.signup-step-two-section-wrapper .signup-form .login-footer a i{
    margin-right: 5px;
}

.signup-step-two-section-wrapper .signup-form .login-footer a{
    transition: all .3s;
}

.signup-step-two-section-wrapper .signup-form .login-footer a:hover{
    color: var(--heading-color);
}

.signup-step-two-section-wrapper .signup-form .login-header{
    text-align: center;
}

.signup-step-two-section-wrapper .signup-form .login-header .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--black-opacity-10);
    border-bottom-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    text-align: center;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* Sign Up Step 2 CSS Ends */

/* Header CSS Starts */

.header-section-wrapper{
    padding: 20px 0;
    background: var(--white);
}

.header-section-wrapper .menu-list ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-section-wrapper .menu-list ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.header-section-wrapper .menu-list ul li a,
.header-section-wrapper .login-section ul li a{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-5);
    transition: all .3s;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: capitalize;
}

.header-section-wrapper .menu-list ul li a.active,
.header-section-wrapper .menu-list ul li a:hover,
.header-section-wrapper .login-section ul li a.active,
.header-section-wrapper .login-section ul li a:hover {
    color: var(--text-color-6);
}

.header-section-wrapper .login-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.header-section-wrapper .login-section ul{
    margin: 0;
    padding: 0;
}

.header-section-wrapper .login-section ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.header-section-wrapper .login-section .btn-rent{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-2);
    background: var(--white);
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    padding: 10px 18px;
    transition: all .3s;
    box-shadow: 0px 1px 2px 0px #1018280D;
    margin-left: 10px;
}

.header-section-wrapper .login-section .btn-rent:hover{
    background: var(--heading-color);
    color: var(--white);
    border-color: var(--heading-color);
}

/* Header CSS Ends */

/* FAQ Section CSS Starts */
.faq-section-wrapper{
    padding: 60px 0;
    background: var(--heading-color);
}

.faq-section-wrapper .container{
    max-width: 700px;
}

.faq-section-wrapper .faq-section{
    text-align: center;
}

.faq-section-wrapper .faq-section h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
    line-height: 1.2em;
}

.faq-section-wrapper .faq-section p{
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    line-height: 1.4em;
    margin: 20px 0;
}

.faq-section-wrapper .faq-section form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.faq-section-wrapper .faq-section form .form-group input{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-7);
    background: var(--white);
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px 15px;
    width: 100%;
}

.faq-section-wrapper .faq-section form .form-group input:focus{
    outline: none;
    box-shadow: none;
}

.faq-section-wrapper .faq-section form .form-group:nth-child(1),
.faq-section-wrapper .faq-section form .form-group:nth-child(2){
    width: 39%;
}

.faq-section-wrapper .faq-section form .form-group:nth-child(3){
    width: 20%;
}

.faq-section-wrapper .faq-section form .form-group input.btn-submit{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
    background: var(--text-color-8);
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    transition: all .3s;
    margin: 0;
}

.faq-section-wrapper .faq-section form .form-group input.btn-submit:hover{
    border-color: var(--white);
    color: var(--white);
    background: var(--transparent);
}

/* FAQ Section CSS Ends */

/* Footer CSS Starts */

.footer-section-wrapper{
    padding: 40px 0;
    background: var(--white);
}

.footer-section-wrapper .footer-info{
    text-align: center;
}

.footer-section-wrapper .footer-info img{
    width: 70%;
}

.footer-section-wrapper .footer-info h2{
    font-size: 22px;
    font-weight: 400;
    color: var(--text-color-9);
    line-height: 1.2em;
    margin: 20px 0;
}

.footer-section-wrapper .footer-info ul{
    margin: 0;
    padding: 0;
}

.footer-section-wrapper .footer-info ul li{
    list-style-type: none;
    display: inline;
    margin: 0 20px;  
}

.footer-section-wrapper .footer-info ul li a{
    font-size: 16px;
    color: var(--text-color-2);
    transition: all .3s;
}

.footer-section-wrapper .footer-info ul li a:hover{
    color: var(--heading-color);
}

.footer-section-wrapper .footer-navigation h2,
.footer-section-wrapper .footer-resources h2{
    font-size: 14px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-section-wrapper .footer-navigation ul{
    margin: 0;
    padding: 0;
}

.footer-section-wrapper .footer-navigation ul li{
    list-style-type: none;
    display: block;
    margin-bottom: 20px;
}

.footer-section-wrapper .footer-navigation ul li:last-child{
    margin-bottom: 0;
}

.footer-section-wrapper .footer-navigation ul li a{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color-10);
    transition: all .3s;
    width: 100%;
}

.footer-section-wrapper .footer-navigation ul li a:hover{
    color: var(--heading-color);
}

.footer-section-wrapper .footer-resources p{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color-10);
    line-height: 1.4em;
    margin-bottom: 20px;
}

.footer-section-wrapper .footer-resources p a{
    transition: all .3s;
    color: var(--text-color-10);
    text-decoration: none;
}

.footer-section-wrapper .footer-resources p a:hover{
    color: var(--heading-color);
}

/* Footer CSS Ends */

/* Index Page CSS Starts */

.hero-section-wrapper{
   background: var(--white);
}

.hero-section-wrapper .hero-section-row{
    margin-left: calc((( 100vw - 1170px ) / 2 ) - 5px );
}

.hero-section-wrapper .hero-content{
    padding: 60px 60px 0 0;
}

.hero-section-wrapper .hero-content h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-10);
    line-height: 1.2em;
    text-transform: capitalize;
}

.hero-section-wrapper .hero-content h2 span{
    color: var(--heading-color);
}

.hero-section-wrapper .hero-content p{
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4em;
    margin: 40px 0;
}

.hero-section-wrapper .hero-content .counters{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-section-wrapper .hero-content .counters .box{
    width: 33.33%;
    text-align: center;
}

.hero-section-wrapper .hero-content .counters .box .count-number{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-section-wrapper .hero-content .counters .box .count-number h2,
.hero-section-wrapper .hero-content .counters .box .count-number span{
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color-2);
    line-height: 1.2em;
}

.hero-section-wrapper .hero-content .counters .box .count-number span {
    color: var(--heading-color);
    margin-left: 5px;
}

.hero-section-wrapper .hero-content .counters .box p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-11);
    line-height: 1.2em;
    margin: 0;
}

.hero-section-wrapper .search-box{
    max-width: 770px;
    margin: -180px auto 0;
    padding: 20px;
    border: 1px solid var(--text-color-12);
    border-radius: 5px;
    background: var(--white);
}

.hero-section-wrapper .search-box .search-header,
.hero-section-wrapper .search-box form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-section-wrapper .search-box .search-header{
    margin-bottom: 10px;
    justify-content: space-between;
}

.hero-section-wrapper .search-box .search-header h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-10);
    line-height: 1.2em;
}

.hero-section-wrapper .search-box form .form-group select,
.hero-section-wrapper .search-box form .form-group input {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-12);
    background: var(--white);
    border: 1px solid var(--text-color-12);
    border-radius: 8px;
    padding: 10px 15px;
    width: 184px;
    margin-right: 10px;
    height: 100%;
}

.hero-section-wrapper .search-box form .form-group input {
    padding: 10px 15px 10px 40px;
}

.hero-section-wrapper .search-box form .form-group input::placeholder{
    color: var(--text-color-12);
}

.hero-section-wrapper .search-box form .form-group.field-budget,
.hero-section-wrapper .search-box form .form-group.field-checkin{
    position: relative;
}

.hero-section-wrapper .search-box form .form-group.field-budget:after,
.hero-section-wrapper .search-box form .form-group.field-checkin:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    background-size: 100% auto;
    width: 21px;
    height: 20px;
}

.hero-section-wrapper .search-box form .form-group.field-budget:after{
    background: url('../images/currency-euro.png') no-repeat center center;
}

.hero-section-wrapper .search-box form .form-group.field-checkin:after{
    background: url('../images/calendar-days.png') no-repeat center center;
}

.hero-section-wrapper .search-box form button.btn-submit{
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
    background: var(--text-color-8);
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    transition: all .3s;
    margin: 0;
    width: 20%;
}

.hero-section-wrapper .search-box form button.btn-submit:hover{
    background: var(--heading-color);
    color: var(--white);
}

.aboutus-section-wrapper{
    padding: 100px 0;
    background: var(--white);
}

.aboutus-section-wrapper .aboutus-img{
    padding-right: 40px;
}

.aboutus-section-wrapper .aboutus-content{
    padding-left: 40px;
}

.aboutus-section-wrapper .aboutus-content h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color-10);
    line-height: 1.2em;
}

.aboutus-section-wrapper .aboutus-content h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.2em;
}

.aboutus-section-wrapper .aboutus-content p{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-2);
    line-height: 1.4em;
    margin: 30px 0;
}

.aboutus-section-wrapper .aboutus-content ul{
    margin: 0;
    padding: 0;
}

.aboutus-section-wrapper .aboutus-content ul li{
    display: inline-block;
    list-style-type: none;
    padding: 6px 10px 6px 30px;
    border-radius: 16px;
    background: var(--text-color-13);
    font-size: 14px;
    font-weight: 500;
    color: var(--heading-color);
    line-height: 1.2em;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.aboutus-section-wrapper .aboutus-content ul li:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    background: url('../images/check-circle.png') no-repeat center center;
    background-size: 100% auto;
    width: 12px;
    height: 13px;
    margin-top: -6.5px;
}

.reserve-rooms-section-wrapper{
    padding: 100px 0px;
    background: var(--white);
}

.reserve-rooms-section-wrapper .reserve-rooms > h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color-10);
    line-height: 1.2em;
    margin-bottom: 30px;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists{
    display: flex;
    flex-wrap: wrap;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list{
    width: calc( 33.33% - 53.33px );
    margin-right: 80px;
    margin-bottom: 50px;
    background: var(--white);
    border-radius: 16px;
    transition: all .3s;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list:hover{
    box-shadow: 20px 15px 50px 0px #0000000D;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list:nth-of-type( 3n + 3 ){
    margin-right: 0;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-image img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details{
    padding: 20px;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading,
.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading a.heading{
    width: 90%;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading .wish-list{
    width: 10%;
    text-align: right;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading a.heading h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-14);
    line-height: 1.2em;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading a.wish-list i{
    color: var(--text-color-2);
    font-size: 20px;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading a.heading:hover h2{
    color: var(--heading-color);
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-heading a.wish-list:hover i{
    color: var(--heading-color);
} 

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-content{
    margin: 10px 0;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-content p{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-14);
    line-height: 1.4em;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-price h2{
    font-size: 18px;
    font-weight: 400;
    color: var(--heading-color);
    line-height: 1.2em;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-price span{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color-2);
    background: var(--text-color-15);
    line-height: 1.2em;
    border-radius: 16px;
}

.reserve-rooms-section-wrapper .reserve-rooms .room-lists .list .room-details .room-price span img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.reservation-process-section-wrapper{
    padding: 100px 0px;
    background: var(--white);
}

.reservation-process-section-wrapper .reservation-process{
    max-width: 770px;
    margin: 0 auto 40px;
    text-align: center;
}

.reservation-process-section-wrapper .reservation-process h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.2em;
}

.reservation-process-section-wrapper .reservation-process h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color-10);
    line-height: 1.2em;
}

.reservation-process-section-wrapper .process{
    padding: 0 10px;
}

.reservation-process-section-wrapper .process h1{
    font-size: 64px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.2em;
}

.reservation-process-section-wrapper .process h2{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-11);
    line-height: 1.2em;
    margin: 10px 0 20px;
}

.reservation-process-section-wrapper .process p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4em;
}
/* Index Page CSS Ends */